recursive-exclude __pycache__  *.pyc* .pyo *.origexclude *.js*
exclude *.git*
exclude *.coveragerc
exclude proc*
exclude pylint*

# Include the README
include *.md

# Include the .sh file
include *.sh

include *.py
include *.yaml
include *.yml

include *.txt
include Dockerfile
recursive-include requirements *
